@model BookStore.Data.Models.ViewModels.CartVM

@{
    ViewData["Title"] = "Cart Details";
}

@if (Model==null || Model.Items.Count == 0)
{
     <div class="container-fluid order-details-wrapper">
        <div class="row mx-auto d-flex">
            <div class="col-xl-8">
                <p class="order-details-header">Your Cart is empty</p>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid order-details-wrapper">
        <div class="row mx-auto d-flex">
            <div class="col-xl-8">
                <p class="order-details-header">Your Cart</p>
                @foreach (var item in Model.Items)
                {
                    <partial name="/Areas/Customer/Views/Cart/_CheckBookPartial.cshtml" model="@item" />
                }
            </div>
            <div class="col-xl-4 order-details-summary">
                <p class="order-details-header text-center">Order Details</p>
                @foreach (var item in Model.Items)
                {
                    <div class="summary-item">
                        <div class="summary-book-qty@(item.BookId)">@item.Title</div>
                        <div class="summary-item-price amount@(item.BookId)">@item.Price $</div>
                    </div>
                }
                <hr />
                <div class="summary-item">
                    <div class="summary-item-price ">Total amount</div>
                    <div class="summary-item-price total-amount">@Model.TotalPrice $</div>
                </div>

                <div class="checkout-btn mx-auto">
                    <button class="">CHECKOUT</button>
                </div>

            </div>
        </div>

    </div>

    @section  Scripts
    {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="~/scripts/cartscripts.js"></script>
    }
}

