@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}


<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h5>Change Password</h5>
        </div>
        <form asp-action="ChangePassword" asp-controller="Account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="Update" class="btn edit-btn" />
                <a class="btn delete-btn" asp-controller="Account" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
