@{
    ViewData["Title"] = "Forgot Password Conformation";
}

<div class="container">
    <div class="product-card" style="width:500px;">
        <div class="card-header text-uppercase text-center">
            <h5>Forgot Password Conformation</h5>
        </div>
        <div class="col align-content-center">
           <h5>Reset Password link was sent to your email</h5>
        </div>
    </div>
</div>