@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 18px;
    /*color: #9FA6B2!important;*/
    font-weight:bold;
}

.nav-item {
    margin-left:10px;
}

.top-navbar {
    font-size: 16px;
}

.cart-link {    
    margin-top: 5px;
}

.cart-count {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    padding-left: 6px;
    padding-top: 1px;
    display: block;
    position: relative;
    left: -5px;
    top: -12px;
    z-index: 1;
    background: #1ea4a0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
}

.cart-price {    
    margin-left: 10px;
    margin-top: -5px;
}

a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {  
  margin-bottom: 60px;
  background:#fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;   
}

/*--------------------------------------For open-closw sidebar--------------------------------------*/

.main-container {
    background:#fff;    
}

#side-nav {
    background: #fff;
    min-width: 350px;
    max-width: 350px;
    transition: all 0.3s;
    border-right: 2px solid #eee;
    display: block;
    overflow-y: auto;
}

.sidebar-filter {     
    padding-top:10px;
    padding-left: 15px
}

.main-content {
    min-height: 100vh; 
    width:100%;
}

.sidebar-filter li.active {
    background: #eee;
    border-radius: 8px;
}

.sidebar-filter li.active a, .sidebar li.active a:hover {
    color: #fff;
}

@media(max-width:768px) {
    #side-nav {
        margin-left: -350px;
        position: fixed;
        min-height:100vh;
        z-index:1;
    }
    #side-nav.active {
        margin-left: 0px;           
    }
}

.sidebar-filter ul {
    font-size: 14px;
    list-style-type: none;
}

.filter-item-capture a,
.filter-capture-label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    cursor: pointer;
}

.fa-chevron-down {
    font-size: 12px;
    font-weight: bold;
}

.filter-capture-label:hover {
    color: #2aa29e;
}

.filter-item-capture a.filter-link,
.hidden {
    display: none;
}

.filter-subitem-wrapper {
    position: static;
    opacity: 1;
    visibility: visible;
    max-height: 0px;
    overflow: hidden;
}

#show-productType:checked ~ ul,
#show-only:checked ~ ul,
#show-author:checked ~ ul {
    max-height: 100vh;
}

.fa-chevron-down {
    float: right;
    margin-right: 25px;
    margin-top: 8px;
}

hr.a-color {
    background: #eee;
    margin-left: 3px;
    margin-right: 10px;
}

.sidebar-filter li a {
    color: #000;
}

/*---------------------------------------------------------------------------*/

.subcategories-item {
    display:flex;
    justify-content:center;
    display:inline-block;
}

.subcategories-item a
{
    text-decoration: none;
    color: #000;
    padding: 10px;
    margin: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    border: 3px solid #fff;
    display: inline-block;
}

.subcategories-item i {
    color: #31b9b5;
    padding-right:5px;
}

    .subcategories-item a:hover {
        border: 3px solid #31b9b5;
        text-decoration: none;
        color: #000;
    }

.category-header {
    background: #faf7ef;
    padding-bottom: 10px;  
    width:100%;
}

.categories,
.book-box {
    display: flex;
    flex-wrap: wrap;
    margin-left:10px;
}

.category-name {    
    padding-left:30px;
    text-align:center;
    font-weight:bold;
    font-size:22px;
}

#categories-show-btn {
    padding-left: 20px;
    text-align: center;    
}

#categories-show-btn a,
.backhref{
    color: #c39d1d;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border: 0;
    cursor: pointer;
 }

.backhref:hover,
 #categories-show-btn a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #c49927;
}

/*----------------------------------------------------------------------------------*/
li.breadcrumb-item a {
    text-decoration: none;
    color: #445554;
}

li.breadcrumb-item a:hover {
    text-decoration: none;
    color: #b0a5a5;
}

li.breadcrumb-item.active {
    text-decoration: none;
    color: #94782e;    
}

.breadcrumb {
    font-size: 14px;
    height:100%;
    padding:10px 0 10px 30px;      
    margin-bottom:0px;
    background: #faf7ef;
}

/*-----------------------------------------------------------------------------------*/
.search-container {
    display:flex;
    align-items:center;
    justify-content:center;  
    width:75%;   
    padding-bottom:5px;

}

.search-bar {
    width: 100%;    
    display:flex;
    background:white;
    align-items:center;
    border-radius:45px;    
    border:0;
}

.search-bar input {
    flex: 1;
    background:transparent;
    border:0;
    outline: none;   
    font-size:16px;
    margin-left:20px;
}

.btn-outline-success {
    border-color: #1ea4a0;
    color: #1ea4a0;
}

.btn-outline-success:hover {
    background: #1ea4a0;
}

.search-bar button {
     background: transparent;
     border: 0;
     cursor: pointer;
     border-radius: 50%
}

.search-icon {
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    width: 35px;
    height: 35px;
    top: 0px;
    right: 0px;
    background: #1ea4a0;
    border-radius: 50%;
    color: #fff;
}

.search-icon:hover {
    background: #23beb9;
}

/*-----------------------------------------*/
.card {
    height: 550px;
    width: 300px;
    min-width: 250px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.vl {
    border-left: 3px solid #eee;
    height: 500px;
}

.card-title {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.card-author {
    text-decoration-line: underline;
    color: #000;
    font-size: 14px;
    padding-bottom: 40px;
}

.price-item-base {
    text-decoration: line-through;
    font-size: 20px;
    font-weight:bold;
    color: #c39d1d;
    padding-right: 15px;
}

.price-item-main {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;    
}

.prices-box {
    display: inline;    
}

.card-body a:hover {
    color: #94782e;
    text-decoration: none;
}

.card-img-top {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.imageThumbnail {
    height: 200px;
    width: 130px;
}

.rating-box {
    padding-top: 5px;
    width:250px;
    border-radius: 25px;   
    font-size: 16px;
}

.rating-box div{
    display:inline;
}

.availiable-quantaty {
    margin-top:20px;
    margin-bottom:20px;    
    color: #fff;       
    width:200px;
    height:25px;
    font-size: 14px;
    font-weight: bold;
    background: #375c5c;
    border-radius: 25px 25px 25px 25px;
    text-align: center;    
    border: none;
}

.addtocart-cover {
    margin-top: 5px;    
}

.ajaxmsg {
    background: #a8811a;    
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    display: none;
}

.addtocart{
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 6px 15px 5px 15px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background: #248a87;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    border: none;
    display: block;
    color: #fff;
    text-decoration: none;
}

.addtocart:hover{
    background: #2aa29e;
    color: #fff !important;
    cursor: pointer;
    text-decoration: none;
}

span.loader {
    display: none;
}

.ib {
    display: block !important;
}

/*_____________________________________________________________________________________________*/

.sort-table-wrapper {
    padding: 20px;
    padding-bottom: 30px;
}

#sort-dropdown {
    width: 150px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    color: #fff;
    list-style-type: none;
    background: #343a40;
    right: 0;
}

.dropdown-item {
    text-align: left;
    font-size: 12px;
    color: #fff;
    align-content:space-between;
}

.dropdown-toggle {
    color: #fff;
    text-align: center;
}

.dropdown-toggle:hover {
    color: #fff;
    text-decoration:none;
}

#sort-dropdown div {
    color: #fff;
    background: #343a40;
    width: 150px;
    border-radius: 5px 5px 5px 5px;
    text-align: left;        
}

.dropdown-menu a:hover {
    color: #fff;
    background: #40474f;
    text-decoration: none;
    width: 100%;
}

.sort-item {   
    background: #fff;
    border-radius: 5px 5px 5px 5px;   
    width: 130px;
    height: 30px;
    border: 1px solid #343a40;
    margin-right: 10px;    
    text-align:center;    
}

.sort-item a {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;        
    padding-top: 5px;
}

.sort-item a:hover {
    color: #fff;
    background: #343a40;
    cursor: pointer;
    color: #fff;
}

.sort-item-main {
    border: 2px solid #a8811a;
    background: #a8811a;
}

.sort-item-main a{  
    color: #fff;
}

.sort-item-main a:hover {
    background: #c39d1d;
}

.dropdown-icon {
    float: right;
    margin-right: 5px;
}
/*_________________________________________________________________*/
.paging-item-link,
.paging-item li,
.paging-item p {
    font-size: 14px;
    font-weight: bold;
    color: #343a40;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 3px;
    padding-inline: 15px;
}

#pageSelector {
    font-size: 14px;
    color: #343a40;
    width: 50px;
    height: 100%;
    background: #fff;
    border: none;
    padding-top: 1px;
    padding-left: 5px;
}

.paging-item-link:hover {
    background: #343a40;
    color: #fff;
    text-decoration: none;
    cursor:pointer;
}

.paging-item.active .paging-item-link {    
    color: #fff;
    background: #343a40;
    color: #fff;   
}

.paging-item {
    height: 30px;    
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #343a40;  
    text-align: center;    
    margin-top:5px;
    margin-right:2px;
}
/*--------------------------------------------------------------*/
.book-wrapper {
    padding-top: 60px; 
}

.author-wrapper {
    padding-top: 60px;
    background: #faf7ef;
}

.book-deteils-title {    
    font-size: 18px;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
}

.book-deteils-link {    
    font-size: 14px;
    font-weight: bold;
    color: #c39d1d;
}

.book-deteils-link:hover {
    color: #e2c76f;
    text-decoration: none;
}

.book-deteils-item {
    font-size:16px;
    font-weight:bold;
}

.book-deteils-item span,
.book-deteils-annotation {
        font-size: 14px;
        font-weight: normal;
}

/*-------------------------------------------------*/
    .rating-container {
        background: #faf7ef;
        width: 100%;
        padding: 50px 0 50px 0;
        margin: 0 0 80px 100px;
        border: none;
        border-radius: 10px;
        font-size: 14px;
    }

.comment-container {
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
    border: none;
    font-size: 14px;
    border-bottom: 2px solid #eee;
}

.star-widgett input {
    display: none;
}

.star-widgett {
    display: flex;
    justify-content: center;
    flex-direction:row-reverse;
}

.star-widgett label {
    font-size: 18px;
    color: #444;
    padding: 10px;
    align-content: center;           
    transition: all 0.2s ease;
 }


/*--------------------------------------------*/

.star-widgett > input:checked ~ label {
    color: #FFD700;
}

.star-widgett:not(:checked) > label:hover {
    color: #FFD700;
}

.star-widgett:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

.star-widgett > input:checked + label:hover {
    color: #FFED85;
}

.star-widgett > input:checked ~ label:hover {
    color: #FFED85;
}

.star-widgett > label:hover ~ input:checked ~ label {
    color: #FFED85;
}

.star-widgett > input:checked ~ label:hover ~ label {
    color: #FFED85;
}

.star-widgett input#rate-5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
/*--------------------------------------------------*/

form .textarea {
    width:100%;
    height:100%;   
}

form .textarea textarea,
.publisherName {
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid #a8811a;
    padding: 10px;
    font-size: 16px;   
}

form .rate-btn {
    height:35px;
    width:100%;
    margin:15px 0;
}

form .rate-btn button {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 14px;
    font-weight:bold;
    border: none;
    border-radius:5px;
    text-transform: uppercase;
    cursor: pointer;
    background: #a8811a;
    color:#fff;
}

 form .rate-btn button:hover {
    background: #c49927;
}

.rating-header {   
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.star-header {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/*--------------------------------------------------*/

.comment-pablisher {
    font-size: 16px;
    font-weight:bold;
}

.comment-date {
    font-size: 12px;
    color: #a8811a;
}

.comment-rate .fa-star,
.progress-box-item .fa-star {
    color: #FFD700;
}

.notchecked {
    color: #454545 !important;
}

.big-rate-value {
    font-size: 28px;
    font-weight: bold;
}

.big-rate-count {
    font-size: 28px;
    font-weight: bold;
    color: #a8811a;
}

.big-rate-box {
    padding-top:90px;
    padding-bottom:20px;
}

.big-rate-stars {
    font-size: 18px;
}

.big-rate-item {
    display:block;
}

.progress-box {
    padding-top:50px;
}

.progress-box-item {
    padding-bottom:20px;
}

.progress-bar {
    background: #846615;
}

.fa-stack.small {
    font-size: 14px;
}

.fa-stack.small i {
    vertical-align: middle;
}

.fa-stack-1x {
    font-size: 12px;
}
/*-------------------------------------------------------------------------*/
.order-details-summary {
    background: #faf7ef;
    height: 100vh;
}

.order-details-header {
    padding-top: 50px;
    padding-bottom:20px;    
    font-size: 20px;
    font-weight: bold;    
}

.summary-item {
    margin: 30px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.checkout-btn {
    height: 50px;
    width: 75%;
    margin-top: 100px;   
    outline: none;    
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    background: #a8811a;   
    text-align:center;
}

.checkout-btn button {
    background: #a8811a;
    color: #fff;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

.order-details-book-title {
    font-size: 18px;
    font-weight: bold;
    text-decoration:none;
    color:#000;
}

.order-details-book-title:hover {
    color: #94782e;
    text-decoration: none;
}

.order-details-author {
    font-size: 14px;    
    text-decoration: underline;
    color: #000;
}

.order-details-author {
    color: #94782e;
}

.order-prices-box {
    display: inline;
    margin-left: 20px;
    font-size: 20px;
}

.change-quantaty {
    height: 30px;
    width: 130px;
    border-radius: 15px;
    border: 1px solid #94782e;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
}

.decrementquantaty,
.incrementquantaty {
    font-size: 14px;
    height: 100%;
    text-align: center;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

.bookquantaty {
    font-size: 14px;
    height: 100%;
    padding-top: 5px;
    border-left: 1px solid #94782e;
    border-right: 1px solid #94782e;
    display: inline;
    text-align: center;
}

.removebook {
    height: 30px;
    border-radius: 15px;
    padding-top: 5px;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 14px;
    width: 50px;
    display: inline;
    text-align: center;
    background: #867d65;
}

.removebook:hover {
    background: #c1252c;
    cursor: pointer;
}

.fa-trash-can {
    color: #fff;
}

/*----------------------------------------------------*/
.cat-header {
    font-size:24px;
    font-weight:bold;
    margin-top:20px;
}

.category-table-header {
    margin-top: 10px;
    height: 35px;
    background: #faf7ef;
    border: 1px solid #c1b8b8;
    font-weight: bold;
    font-size: 14px;    
}

.category-table-item {
    display: inline;
    padding-top: 7px;
    margin-left: 20px;  
}

.category-table-li {
    /*border: 1px solid #c1b8b8;*/
    margin-top:10px;
}

.subcategory-table-li {
   /* border: 1px solid #c1b8b8;*/
   
    margin: 5px 0  5px 5px;
}

.category-table {
    width: 100%;
    list-style-type: none;
}

.sub-category-table {
    width: 100%;    
    margin-left:10px;
}

.category-icon {
    color: #248a87;
    font-size: 18px;
    margin-left: 20px;
    padding-top: 7px;
    text-align:left;
}


.category-edit-group {
    text-align: right;    
}

.product-edit-group {
    text-align: center;
    margin-top:50px;
}

.addcategory {
    height: 30px;
    width: 120px;
    background: #248a87;
    color: #fff;
    padding: 3px 10px 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    display: block;
}

.addcategory:hover {
    background: #2aa29e;
    color: #fff !important;
    cursor: pointer;
    text-decoration: none;
}

.edit-btn {
    font-size: 12px;
    background: #a8811a;
    color: #fff !important;
    width: 80px;
    font-weight: bold;
    margin-right: 5px;
    height: 30px;
    margin: 5px;
}

.edit-btn:hover {
    background: #c49927;
    cursor: pointer;
}

.delete-btn {
    font-size: 12px;
    background: #343a40;
    color: #fff !important;
    width: 80px;
    font-weight: bold;
    height: 30px;
    margin: 5px;
}

.delete-btn:hover {
    background: #c1252c;
    cursor: pointer;
}

.hidden {
    display: none;
}
/*--------------------------------------------------------------------------------------*/

.admin-search-btn {
    border: 1px solid #248a87;
    color: #248a87;
    background:#fff;
}

.admin-search-btn:hover {
    border: 1px solid #248a87;
    color: #fff;
    background: #248a87;
    cursor:pointer;
}

.admin-search {
    outline: none;
    border: 1px solid #248a87;    
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
}

select.selectParentCategory {
    display: block;
}

select.noParentCategory {
    display: none;
}

.nested-table
 {
    border: 1px solid #d4cdcd;    
    width: 100%;    
}


/* broun #a8811a; ligth broun #c49927;*/
/* dark #343a40; ligth dark #40474f;*/
/* green #248a87; ligth green #2aa29e;*/