@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-size:20px;
}

.navbar-header {
    background-color: #1b6ec2;    
    height: 100px;
    text-align:center;
}

.nav-item {
    font-size:20px;
}

a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {  
  margin-bottom: 60px;
  background:#fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;   
}

/*--------------------------------------For open-closw sidebar--------------------------------------*/

.main-conrainer {
    background:#fff;     
}

#side-nav {
    background: #fff;
    min-width: 350px;
    max-width: 350px;
    transition: all 0.3s;
    border-right: 2px solid #eee;
    display: block;
    overflow-y: auto;
}

.sidebar-filter {     
    padding-top:10px;
    padding-left: 15px
}

.main-content {
    min-height: 100vh; 
    width:100%;
}

.sidebar-filter li.active {
    background: #eee;
    border-radius: 8px;
}

.sidebar-filter li.active a, .sidebar li.active a:hover {
    color: #fff;
}

@media(max-width:768px) {
    #side-nav {
        margin-left: -350px;
        position: fixed;
        min-height:100vh;
        z-index:1;
    }
    #side-nav.active {
        margin-left: 0px;           
    }
}

.sidebar-filter ul {
    font-size: 16px;
    list-style-type: none;
}

.filter-item-capture a,
.filter-capture-label {
    font-size: 20px;
    font-weight: bold;
    display: block;
    cursor: pointer;
}

.filter-capture-label:hover {
    color: #2aa29e;
}

.filter-item-capture a.filter-link,
.hidden {
    display: none;
}

.filter-subitem-wrapper {
    position: static;
    opacity: 1;
    visibility: visible;
    max-height: 0px;
    overflow: hidden;
}

#show-productType:checked ~ ul,
#show-only:checked ~ ul,
#show-author:checked ~ ul {
    max-height: 100vh;
}


.fa-chevron-down {
    float: right;
    margin-right: 25px;
    margin-top: 8px;
}

hr.a-color {
    background: #eee;
    margin-left: 3px;
    margin-right: 10px;
}

.sidebar-filter li a {
    color: #000;
}

/*---------------------------------------------------------------------------*/

.subcategories-item {
    display:flex;
    justify-content:center;
    display:inline-block;
}

.subcategories-item a
{
    text-decoration: none;
    color: #000;
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    border: 3px solid #fff;
    display: inline-block;
}

.subcategories-item a:hover {
    border: 3px solid #31b9b5;
    text-decoration: none;
    color: #000;
}

.category-header {
    background: #faf7ef;
    padding-bottom: 10px;  
    width:100%;
}

.categories,
.book-box {
    display: flex;
    flex-wrap: wrap;
}

.category-name {    
    padding-left:30px;
    text-align:center;
    font-weight:bold;
    font-size:24px;
}

#categories-show-btn {
    padding-left: 20px;
    text-align: center;    
}

#categories-show-btn a {
    color: #c39d1d;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border: 0;
    cursor: pointer;
 }

/*----------------------------------------------------------------------------------*/

.breadcrumb-a {
    text-decoration: none;
    color: #445554;
}

.breadcrumb-a:hover {
    text-decoration: none;
    color: #2ba19e;
}

.breadcrumb {
    font-size: 18px;
    padding-top: 5px;
    padding-left: 15px;
    background: #faf7ef;
}

/*-----------------------------------------------------------------------------------*/
.search-container {
    display:flex;
    align-items:center;
    justify-content:center;  
    width:75%;
}

.search-bar {
    width: 100%;    
    display:flex;
    background:white;
    align-items:center;
    border-radius:45px;    
    border:0;
}

.search-bar input {
    flex: 1;
    background:transparent;
    border:0;
    outline: none;   
    font-size:20px;
    margin-left:20px;
}

.search-bar button {        
        background: transparent;
        border: 0;       
        cursor:pointer;
        border-radius:50%
}

.search-icon {   
    font-size: 22px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    width: 45px;
    height: 45px;
    top: 0px;
    right: 0px;
    background: #1ea4a0;
    border-radius: 50%;
    color: #fff;
}

.search-icon:hover {
    background: #23beb9;
}
/*-----------------------------------------*/
.card {
    height: 650px;
    width: 300px;
    min-width: 250px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.card-wrapper {
    border-top: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.card-title {
    color: #000;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.card-author {
    text-decoration-line: underline;
    color: #000;
    font-size: 18px;
    padding-bottom: 40px;
}

.price-item-base {
    text-decoration: line-through;
    font-size: 16px;
    color: #94782e;
    padding-right: 15px;    
}

.price-item-main {
    text-decoration: none;
    font-size: 28px;
    font-weight:bold;   
    margin-bottom:20px;
}

.price-item-main div {
    display: inline;
}


.card-body a:hover {
    color: #94782e;
    text-decoration: none;
}

.card-img-top {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.imageThumbnail {
    height: 270px;
    width: 168px;
}

.rating-box {
    padding-top: 40px;
    font-size:18px;    
}

.rating-box div{
    display:inline;
}

.availiable-quantaty {
    margin-top:10px;
    margin-bottom:10px;
    padding-top:7px;
    color: #fff;       
    width:200px;
    height:40px;
    font-size: 16px;
    font-weight: bold;
    background: #375c5c;
    border-radius: 25px 25px 25px 25px;
    text-align: center;    
    border: none;
}

.add-to-cart-btn {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 15px;
    color: #fff;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    background: #248a87;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    border: none;
}

.add-to-cart-btn:hover {
    background: #2aa29e;
    cursor: pointer;
}

/*_____________________________________________________________________________________________*/

.sort-table-wrapper {
    padding: 20px;
    padding-bottom: 30px;
}

#sort-dropdown {
    width: 200px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    font-size: 16px;
    color: #fff;
    list-style-type: none;
    background: #343a40;
    right: 0;
}

.dropdown-item {
    text-align: left;
    font-size: 16px;
    color: #fff;
    align-content:space-between;
}

.dropdown-toggle {
    color: #fff;
    text-align: center;
}

.dropdown-toggle:hover {
    color: #fff;
    text-decoration:none;
}

#sort-dropdown div {
    color: #fff;
    background: #343a40;
    width: 200px;
    border-radius: 5px 5px 5px 5px;
    text-align: left;        
}

.dropdown-menu a:hover {
    color: #fff;
    background: #40474f;
    text-decoration: none;
    width: 100%;
}

.sort-item {   
    background: #fff;
    border-radius: 5px 5px 5px 5px;   
    width: 150px;
    height: 40px;
    border: 2px solid #343a40;
    margin-right: 10px;    
    text-align:center;    
}

.sort-item a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;        
    padding-top: 5px;
}

.sort-item a:hover {
    color: #fff;
    background: #343a40;
    cursor: pointer;
    color: #fff;
}

.sort-item-main {
    border: 2px solid #c39d1d;
    background: #c39d1d;
}

.sort-item-main a{  
    color: #fff;
}

.sort-item-main a:hover {
    background: #c39d1d;
}

.dropdown-icon {
    float: right;
    margin-right: 5px;
}
/*_________________________________________________________________*/
.paging-item-link,
.paging-item li,
.paging-item p {
    font-size: 20px;
    font-weight: bold;
    color: #343a40;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 3px;
    padding-inline: 15px;
}

#pageSelector {
    font-size: 20px;
    color: #343a40;
    width: 60px;
    height: 100%;
    background: #fff;
    border: none;
    padding-top: 1px;
    padding-left: 5px;
}

.paging-item-link:hover {
    background: #343a40;
    color: #fff;
    text-decoration: none;
}

.paging-item.active .paging-item-link {    
    color: #fff;
    background: #343a40;
    color: #fff;   
}

.paging-item {
    height: 40px;    
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #343a40;  
    text-align: center;    
    margin-top:10px;
    margin-right:2px;
}