@{
    ViewData["Title"] = "Error";
}

@if (ViewBag.ErrorTitle == null)
{
    <div class="container">
        <div class="product-card" style="width:500px;">
            <div class="card-header text-center">
                <h5> Error</h5>
            </div>
            <div class="card-body alert-danger">
                <div class="form-group">
                    <p>Error occured while processing you request.</p>
                    <p>The support team is already notified and we are working on the fix.</p>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn return-btn" asp-controller="Book" asp-action="Index">Return Home</a>
            </div>
        </div>
    </div>    
}
else
{
    <div class="container">
        <div class="product-card" style="width:500px;">
            <div class="card-header text-center">
                <h5 > @ViewBag.ErrorTitle</h5>
            </div>
            <div class="card-body  alert-danger">
                <div class="form-group">
                    <h6>@ViewBag.ErrorMessage</h6>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn return-btn" asp-controller="Book" asp-action="Index">Return Home</a>
            </div>
        </div>
    </div>
}
