@model AuthorViewModel

@{
    ViewData["Title"] = "Edit Author";
    var photoPath = $"/pictures/uploads/authors/{Model.PhotoPath}";   
}

<div class="container">
    <div class="product-card" style="width:500px;">

        <div class="card-header text-uppercase text-center">
            <h5>Edit Author</h5>
        </div>

        <div class="col align-content-center">
            <form enctype="multipart/form-data" asp-action="EditAuthor" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Timestamp"/>
                <input type="hidden" asp-for="PhotoPath"/>                
               
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <img id="ImagePrv" src="@photoPath" alt="Book Image Preview" class="author-image mb-2"></img>
                    <div class="custom-file">
                        <input asp-for="AuthorImage" class="custom-file-input" id="ImageInput" value="@Model.PhotoPath" placeholder="Select file..."
                               onchange="document.getElementById('ImagePrv').src = window.URL.createObjectURL(this.files[0])" />
                        <label asp-for="AuthorImage" class="custom-file-label"></label>
                    </div>
                    <span asp-validation-for="AuthorImage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Biography" class="control-label"></label>
                    <textarea asp-for="Biography" class="form-control"></textarea>
                    <span asp-validation-for="Biography" class="text-danger"></span>
                </div>              

                <div class="form-group">                   
                    <input type="submit" value="Update" class="add-btn"/>                    
                </div>
            </form>
            <div>
                <a class="backhref" asp-controller="Author" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('.custom-file-input').on('change', function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings('.custom-file-label').addClass("selected").html(fileName);
        });
    </script>
}
