@model BookStore.ViewModelData.CreateRoleViewModel

@{
    ViewData["Title"] = "Create New Role";
}

<div class="container">
    <div class="product-card" style="width:500px;">
        <div class="card-header text-center">
            <h5>Create New Role</h5>
        </div>
        <form asp-action="CreateRole" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="RoleName" class="control-label"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="Add Role" class="btn add-btn" />
                <a class="btn return-btn" asp-controller="Administration" asp-action="ListRoles">Cancel</a>
            </div>
        </form>
    </div>
</div>

