@model BookStore.Services.ShopService.SearchService.SearchBar

<div class="search-container">
    <form method="get" class="search-bar " asp-controller="@Model.Controler" asp-action="@Model.Action">
        <input class="input-search" type="search" name="SearchText" value="@Model.SearchText" placeholder="Search..." aria-label="Search">
        <button type="submit">
            <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i> </span>
        </button>
    </form>
</div>
